<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
  <title>Angular JS</title>
  <style>
  
  
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script>

    // Hide all elements
    function hideAll() {
    }
    
    // Load specific resource
    function loadPage(from, to) {
    }

    
    // Main entrance
    var myApp = angular.module('myApp',[]);
    myApp.controller('myController', function($scope){
      $scope.title = 'Hello, World!';
    });

    
  </script> 
</head>
<body ng-controller="myController">
<h1>{{title}}</h1>
<div id="list"></div>
<div id="detail"></div>

<ul>
<li>
<a id="home" href="#home">Home</a>
</li>
<li>
<a id="about" href="#about">About</a>
</li>
<li>
<a id="shop" href="#shop">Shop</a>
</li>
<li>
<a id="support" href="#support">Support</a>
</li>
<li>
<a id="contact" href="#contact">Contact</a>
</li>
</ul>


<div id="homeContent">
A greate man does a great thing!!!
</div>


</body>
</html>