<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
  <title>Angular JS</title>
  <style>
  
  
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script>

    // Main entrance
    var myApp = angular.module('myApp',[]);
    
    myApp.controller('main', function($scope) {
    
    $scope.title = 'Like this';
      $scope.authors = [
        {
          name: 'Thai',
          country: 'USA'
        },
        {
          name: 'Kim',
          country: 'SG'
        },
        {
          name: 'Hai',
          country: 'VN'
        },
        {
          name: 'Long',
          country: 'USA'
        }
      ];
      
   
    });

    myApp.directive('myAuthor', function(){
      return {
        templateUrl: 'inc/author.inc.html'
      }
    });
  </script> 
</head>
<body ng-controller="main">

<h1>{{title}}</h1>

<div id="authors" ng-repeat="author in authors">

  <div my-author></div>

</div>

</body>
</html>