<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
  <title>Angular JS</title>
  <style>
  
  
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script>

    // Main entrance
    var myApp = angular.module('myApp',[]);
    
    myApp.controller('main', function($scope){
      $scope.data = 1;
      $scope.tilte = 'Thai';
      
      $scope.user = {};
      $scope.user.name = 'Thai';
      $scope.user.email = 'thai@email.com';
      
      $scope.submit = function() {
        console.log($scope.data);
      };
    });

    myApp.directive('my-author', function(){
      return {
        templateUrl: 'inc/author.inc.html'
      }
    });
  </script> 
</head>
<body ng-controller="main">

<h1>{{title}}</h1>

<div my-author>
  <div class="author">
    <h3>Stepeh King</h3>
    <h4>Country: USA</h4>
  </div>
  
</div>


</body>
</html>