<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
  <title>Angular JS</title>
  <style>
  
  
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script>

    // Main entrance
    var myApp = angular.module('myApp',[]);
    
    myApp.controller('ctrl1', function($scope){
      //$scope.title = 'Hello, Main Div!';
    });

    myApp.controller('ctrl2', function($scope){
      //$scope.title = 'Hello, SECONDARY Div!';
    });
    
  </script> 
</head>
<body>


<div id="main" ng-controller="ctrl1">
  {{title}}
</div>

<div id="secondary" ng-controller="ctrl2">
  {{title}}
</div>


</body>
</html>