<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
  <title>Angular JS</title>
  <style>
  
  
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script>

    // Main entrance
    var myApp = angular.module('myApp',[]);
    
    myApp.controller('ctrl1', function($scope){
      $scope.data = 1;
      $scope.tilte = 'Thai';
      
      $scope.submit = function() {
        console.log($scope.data);
      };
    });

    
  </script> 
</head>
<body>


<div id="main" ng-controller="ctrl1">
  {{title}}
</div>


</body>
</html>