body {
	   	font-family: Arial, Verdana, sans-serif;
	   	font-size: 1rem;
	   }
	   div {
	   	  box-sizing: border-box;
	   }

		.container {
			width: 100%;
			max-width: 1000px;
			margin: 0 auto;
		}

		#header {
			height: 50px;
			width: 100%;
			background: #3E1000;
			outline: 1px solid #3E1000;
		}

		nav {
			display: block;
			width: 80%;
			float: left;
		}

		#header nav ul {
			display: block;
			padding: 0;
			margin: 0;
		}

		#header nav ul li {
			list-style-type: none;
			display: inline-block;
			padding: 0;
			margin: 0;
		}

		#header nav ul li a {
			display: inline-block;
			line-height: 50px;
			padding: 0 20px;
			color: #FFF;
			border-right: 1px solid #fff;
			text-decoration: none;
			text-transform: uppercase;
		}

		#header nav li a:link,
		#header nav li a:visited {
			color: #FFF;
			background: #3E1000;
		}

		#header nav li a:hover,
		#header nav li a:active {
			color: #3E1000;
			background: #d89179;
		}

		a img:hover {
			opacity: 0.7;
		}



		nav img#logo {
			float: left;
		}

		.hero {
			width: 100%;
			height: auto;
		}

		.hero img {
			display: inline-block;
			width: 100%;
			height: auto;
			overflow: hidden;
			margin: 0 auto;
		}

		.featured {
			margin-top: 10px;
			float: left;
		}

		.featured .item {
			width: 20%;
			float: left;
			padding: 10px;
			border: 1px solid #cfcfcf;
			overflow: hidden;
		}

		.featured .item:last-child {
			padding-right: 0;
		}

		.item img {
			height: 245px;
			width: auto;
			display: block;
			margin: 0 auto;
		}

		.item .caption {
			padding: 10px;
			color: #666;
			font-size: 80%;
		}

		.authors {
			margin-top: 20px;
			float: left;
			clear: both;
		}

		.authors h3 {
			text-align: center;
		}

		.authors .item {
			width: 25%;
			float: left;
			padding: 10px;
			overflow: hidden;
		}

		.shelf {
			margin-top: 20px;
			float: right;
			width: 75%;
			padding-bottom: 100px;
		}

		.book {
			width: 100%;
			float: left;
			clear: both;
			padding-bottom: 10px;
			border-bottom: 1px solid #cfcfcf;
			margin-bottom: 10px;
		}

		

		.shelf .book .img {
			display: inline-block;
			width: 15%;
			float: left;
			padding: 5px;
			border: 1px solid #cfcfcf;
		}

		.shelf .book .img img {
			width: 100%;
			height: auto;
		}

		.shelf .book .details {
			width: 85%;
			float: left;
			padding-left: 30px;
		}

		div.search {
			width: 400px;
			float: right;
			padding-bottom: 20px;
			padding-top: 20px;
		}

		.search form {
			float: right;
		}

		.clear {
			clear: both;
		}

		.categories {
			float: left;
			width: 20%;
			padding: 15px;
		}

		.categories ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			line-height: 30px;
		}

		
		.book_item img {
			width: auto;
			height: auto;
			max-width: 100%;
		}

		.book_cover {
			width: 25%;
			float: left;
			clear: both;
		}

		.book_cover img {
			width: auto;
			height: auto;
			max-width: 100%;
		}

		.book_details {
			width: 50%;
			float: left;
			padding: 0 20px;
		}

		.book_author {
			width: 25%;
			float: left;
			font-size: 80%;
		}

		.book_author img {
			width: auto;
			height: auto;
			max-width: 100%;
		}

		.book_description {

			padding: 30px;
			border: 1px solid #cfcfcf;
			margin-bottom: 30px;
			clear: both;
		}



		.book_item {
			width: 15%;
			float: left;
			margin-right: 10px;
			padding: 20px;
			border: 1px solid #cfcfcf;
		}

		.book_item img {
			width: auto;
			height: auto;
			max-width: 100%;
		}

		hr.clear {
			clear: both;
			margin: 30px 0;
		}

