<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
  <title>Angular JS</title>
  <style>
  
  
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script>

    // Main entrance
    var myApp = angular.module('myApp',[]);

    

    myApp.controller('ctrl1', function($scope, $http) {
    
    $scope.title = 'Like this';
    $scope.output = 'Something is coming';
    $scope.form = {};

    $scope.submit = function() {
      console.log(1);
      
      $http({
        url: 'server/angularpost.php',
        method: 'POST',
        data: $scope.form
      }).then(function(response) {
        console.log(response.data);
      }, function(response) {
        console.log(response.status);
      });
    };
/*
    $http({
    method: 'GET',
    url: 'server/authorjson.php'
    }).then(
      function(response) {
        $scope.authors = response.data;
        console.log($scope.authors);
      },
      function(response) {
        // fail
        console.log(response.status);
      }
    );
      
      console.log('Real authors');
      console.log($scope.authors);
*/  
  
    });

/*
    myApp.directive('myAuthor', function(){
      return {
        templateUrl: 'inc/author.inc.html'
      }
    });
    
*/


  </script> 
</head>
<body>



<div ng-controller="ctrl1">
  <h1>{{title}}</h1>
  <h1>{{output}}</h1>
  <form>
    <input type="text" name="firstname" ng-model="form.firstname" placeholder="firstname"></input>
    <input type="button" ng-click="submit()" value="Submit"></input>
  </form>

</div>

</body>
</html>